.card {
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #4444;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.1);

}

.badge {
  display: inline-flex;
  margin-left: 0.3rem;
  margin-right: 0.4rem;
  padding:7px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
  transition: all 0.2s ease-in-out;
  font: 400 13.3333px Arial;
  margin-top: 10px;
}

.badge:hover {
  background-color: #fff;
  color: black 

}

.btn {
  padding: 10px;
  padding-left: 15px ;
  padding-right: 15px;
  background-color: #2196f3;
  outline: none;
  border: none;
  font: 900 20px Arial;
  position: relative;
  top: 40px;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  transform: translateY(2px);
}

.btn:focus {
  outline: none;
  opacity: 1;
}

